<header>
    <nav>
        <ul>
            <li><a class="btn btn-primary" href="/login">Login</a></li>
            <li><a class="btn btn-primary" href="/signup">Sign Up</a></li>
        </ul>
    </nav>
</header>