<%- include("partials/head") %>
<header>
    <nav>
        <ul>
            <li>
                <form action="/logout" method="POST">
                    <button type="submit" class="btn btn-primary">Log Out</button>
                </form>
            </li>
        </ul>
    </nav>
</header>

<main>
    <div class="container list">
        <div class="row">
            <h1>List of Links</h1>

            <div class="col-md-6">
                <h2>Links</h2>
            </div>
            <div class="col-md-6">
                <h2>Add Links</h2>

                <form action="/addLinks" method="POST">
                    <label for="link"></label>
                    <input type="text" name="link" id="link" placeholder="Enter Link">

                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</main>


<%- include("partials/end") %>